.container{
    display: flex;
    gap: 30PX;
}

.list{
    width: 30%;
    background-color: rgb(160, 84, 21);
    border-radius: 29px;
    padding: 20px;
    text-decoration: none;
}

.list2{
    width: 30%;
    overflow: auto;
    background-color: rgb(160, 84, 21);
    border-radius: 29px;
    padding: 20px;
}

.list3{
    width: 30%;
    overflow: auto; 
    background-color: rgb(160, 84, 21);
    border-radius: 29px;
    padding: 20px;
}

.list__item {
    background-color: rgb(249, 90, 10);
    border-radius: 29px;
    text-align: center;
    text-decoration: none;
}

.list2__item {
    background-color: rgb(249, 90, 10);
    border-radius: 29px;
    text-align: center;
}

.list3__item {
    background-color: rgb(249, 90, 10);
    border-radius: 29px;
    text-align: center;
}

